@import './modal.scss';
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
} */

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1024px;
  padding-left: 71px;
  padding-right: 71px;
}

.gallery {
  padding-top: 60px;
  padding-bottom: 50px;
}

.gallery__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.gallery__item {
  height: 440px;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.gallery__link {
  width: 274px;
}

.gallery__item_title {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.gallery__genres_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.gallery__genres_genre {
  &:last-child span {
    display: none;
  }
}

.gallery__item_description {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #ff6b08;
}

.gallery__item_description > p {
  margin: 0;
}

.gallery__failure {
  display: block;
  margin: 0 auto;

  font-family: Roboto;
  font-weight: 500;
  font-size: 26px;
  text-align: center;

  color: #000;
}

.gallery__failure > span {
  color: #ff6b08;
}

.header-container {
  width: 1024px;
  margin: 0 auto;
}

.header {
  min-height: 230px;
  background-image: url('../images/bg/header_bg.jpg');
  background-position: center;
  background-size: cover;
}
.header__logo {
  display: inline-block;
}

.header__wrapper {
  padding-top: 41px;
  padding-left: 105px;
  display: flex;
  align-items: baseline;
  margin-bottom: 35px;
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 565px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 30px;

  color: #ffffff;
}

.header__list {
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.header__link {
  font-family: Roboto;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.header__item {
  margin-right: 39px;
}

.header__input {
  position: relative;
  display: flex;
  width: 336px;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  /* &:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('../images/img/search.svg');
  } */
}

.header__input_search > use {
  width: 12px;
  height: 12px;
}
