<ul class="gallery__list">
  {{#each this}}
  <li class="gallery__item">

    <a href="" class="gallery__link">
      <img class="gallery__item_img" src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="" width="274"
        height="398" />
    </a>

    <h2 class="gallery__item_title">{{original_title}}</h2>
    <div class="gallery__item_description">
      <ul class="gallery__genres_list">
        {{#each genre_ids}}
        <li class="gallery__genres_genre">{{this}}<span>,&nbsp</span></li>
        {{/each}}
      </ul>
      <p>&nbsp| {{release_date}}</p>
    </div>


  </li>
  {{/each}}
</ul>